{% extends 'base.html' %}


{% block conteudo %}
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <!-- Adicione mais cabeçalhos de coluna conforme necessário -->
        </tr>
    </thead>
    <tbody>
        {% for morador in moradores %}
        <tr>
            <td>{{ morador.nome }}</td>
            <td>{{ morador.endereco }}</td>
            <!-- Adicione mais células de dados conforme necessário -->
        </tr>
        {% endfor %}
    </tbody>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <th>Nome completo</th>
                <th>CPF</th>
                <th>Horário de chegada</th>
                <th>Status</th>
                <th>Horário da autorização</th>
                <th>Autorizado por</th>
                <th>Mais informações</th>
            </thead>

            <tbody>
                {% for visitante in todos_visitantes %}
                <tr>
                    <td>{{ visitante.nome_completo }}</td>
                    <td>{{ visitante.get_cpf }}</td>
                    <td>{{ visitante.horario_chegada }}</td>
                    <td>{{ visitante.get_status_display }}</td>
                    <td>{{ visitante.get_horario_autorizacao }}</td>
                    <td>{{ visitante.get_morador_responsavel }}</td>
                    <td>
                        <a href="{% url 'informacoes_visitante' id=visitante.id %}">
                            Ver informações
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock conteudo %}