{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block conteudo %}

{% block title %}Banco Moradores{% endblock %}

<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>
    </div>

                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <h4 class="mb-3 text-primary">
                                    Database moradores
                                </h4>

                                <p class="mb-5 ml-1">
                                    <small>
                                        Presença de todos os moradores ativos no prédio
                                    </small>
                                </p>
            
            <table class="table">
                <thead>
                    
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Data de nascimento</th>
                        <th>Número da casa</th>
                        <th>Placa do veículo</th>
                        <th>Mais informações</th>
                        <!-- Add more columns as needed -->
                    </tr>
                </thead>
                <tbody id="tabela-corpo">
                    {% for morador in moradores %}
                        <tr>
                            <td>{{ morador.nome_completo }}</td>
                            <td>{{ morador.get_cpf }}</td>
                            <td>{{ morador.data_nascimento }}</td>
                            <td>{{ morador.numero_casa }}</td>
                            <td>{% if morador.placa_veiculo %}
                                {{ morador.placa_veiculo }}
                            {% else %}
                                N/A
                            {% endif %}</td>
                            <td><a href="{% url 'info_morador' id=morador.id %}">Informações</a></td>
                            
                            <!-- Add more columns as needed -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script src={% static 'js/ordernarTabela.js' %}></script>
        </div>
    </div>



{% endblock %}